
 
 .modalContent {
   margin: 150px auto;
   background-color: #fff;
   width: 384px;
   height: 599px;
   padding: 20px;
   border-radius: 8px;
   box-shadow: 0px 0px 40px rgba(0, 0, 0, 0.1);
 }
 
 .modalTitle {
   font-size: 18px;
   font-weight: bold;
   margin-bottom: 15px;
 }
 
 .inputLabel {
   display: block;
   font-size: 14px;
   margin-bottom: 5px;
 }
 
 .inputField {
   width: 100%;
   padding: 8px;
   margin-bottom: 15px;
 }
 
 .checkboxContainer {
   display: flex;
   align-items: center;
   margin-bottom: 15px;
 }
 
 .checkboxLabel {
   font-size: 14px;
   margin-left: 8px;
 }
 
 .submitButton {
   background-color: #4caf50;
   color: #fff;
   padding: 10px 15px;
   border: none;
   border-radius: 5px;
   cursor: pointer;
 }